
.notification-box{
	background-color: #FFFFFF;
	height: 600px;
	margin-top: 60px;
	margin-bottom: 40px;
	padding: 15px;
	border-style: solid;
	border-color: #D2D2D2;
	border-width: 1px;
	-webkit-box-shadow: 6px 6px 13px -3px rgba(0,0,0,0.48);
	-moz-box-shadow: 6px 6px 13px -3px rgba(0,0,0,0.48);
	box-shadow: 6px 6px 13px -3px rgba(0,0,0,0.48);

}

.inline-block{
	display: inline-block;
}

.notification-container{
	height: 80px;
}

.time-section{
	height: $notification-height;
	line-height: $notification-height;
	padding: 0px;
}

.time-section h5{
	vertical-align: middle;
	line-height: normal;
	font-size: 18px;
}


.notification-container img{
	padding: 50% 0px;
}

.notification-msg{
	height: $notification-height;
}

.notification-msg h5{
	line-height: $notification-height;
	margin: 0px;
	font-size: 18px;
}

.notification-msg a{
	display: inline;
}

.notification-msg a:hover{
	text-decoration: none;
}